<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <img src="{{  url_for('static', filename='small_bookmark.png') }}">
                <h1><a href="{{ url_for('home') }}">{{ title }} {% if folder_path %} : {{ folder_path }} {% endif %}</a></h1> 
            </div>
            <div class="col-4 text-right align-self-center">
                {% if current_user.is_authenticated %}
                    <i class="fas fa-plus-circle"></i> <a href="{{ url_for('add_link') }}" class="menu-link">Add Link</a>
                    <i class="fas fa-sign-out-alt"></i> <a href="{{ url_for('logout') }}" class="menu-link">Logout</a>
                {% else %}
                    <i class="fas fa-sign-in-alt"></i> <a href="{{ url_for('login') }}" class="menu-link">Login</a>
                {% endif %}
            </div>
        </div>
        <br>
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>