{% extends "base.html" %}

{% block title %}
Bookmarks
{% endblock %}

{% block content %}
        <h1> <img src="{{  url_for('static', filename='small_bookmark.png') }}"> Bookmarks
        {% if folder_path %} : {{ folder_path }} </p>{% endif %} </h1>
        <div class="container">
            <div class="row">

                {% for category in categories %}
                 <div class="col-md-4">
                    <div class="card mb-4 flex-fill mr-4">
                    <div class="card-header">
                        <h2><a href="/{{ category.name }}"> {{ category.name }} </a> </h2>
                    </div>
                    <div class="card-body">
                        <p>
                        {% for link in category.links %}
                        <a href="{{ link.url }}" title=" {{ link.description }} " target="_blank"><i class="fas fa-bookmark"></i>  {{ link.title }}</a></br>
                        {% endfor %}
                    </p>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}